.fill {
  position: relative;
  color: #c2aa3c;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  border-bottom: solid #c2aa3c 1px;
}

.fill:hover {
  color: whitesmoke !important;
}

.fill:hover:active {
  background-color: #ae9628;
}

.fill:before {
  content: '';
  position: absolute;
  background: #c2aa3c;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.1s ease-in;
}

.fill:hover:before {
  top: 0;
}
