.parent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.imgLeft {
  grid-area: 1 / 1 / 2 / 2;
}

.textRight {
  grid-area: 1 / 2 / 2 / 3;
}

.textLeft {
  grid-area: 2 / 1 / 3 / 2;
}

.ImgRight {
  grid-area: 2 / 2 / 3 / 3;
}

.AboutTitle {
  font-family: 'CormorantUnicase-Regular';
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 60px;
}

.textRightA {
  font-family: 'CormorantUnicase-Regular';
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: solid #c2aa3c 1px;
  margin: 20px 0px;
}

.textRightTitle {
  font-family: 'CormorantUnicase-Regular';
  font-weight: 400;
  font-size: 36px;
}

.textRightText {
  font-family: 'PTSerif-Regular';
  font-weight: 400;
  margin: 40px 0 40px 0px;
  font-size: 22px;
}

.textLeft {
  font-family: 'PTSerif-Regular';
  font-weight: 400;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .AboutTitle {
    font-size: 36px;
  }

  .textRightA {
    font-size: 20px;
  }

  .textRightTitle {
    font-size: 28px;
  }

  .textRightText {
    font-size: 18px;
  }

  .textLeft {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .parent {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .imgLeft {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
  }

  .textRight {
    grid-area: 2 / 1 / 3 / 2;
  }

  .textLeft {
    grid-area: 4 / 1 / 5 / 2;
  }

  .ImgRight {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media (max-width: 480px) {
  .AboutTitle {
    font-size: 42px;
  }

  .textRightA {
    font-size: 16px;
  }

  .textRightTitle {
    font-size: 32px;
  }

  .textRightText {
    font-size: 18px;
  }

  .textLeft {
    font-size: 18px;
  }
}
