.title {
  font-family: 'CormorantUnicase-Medium';
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 60px;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titleProp {
  font-family: 'CormorantUnicase-Medium';
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.BrActive {
  display: none;
}

.ImgContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-padding-bottom: 20px;
  position: sticky;
  -ms-overflow-style: none;
}

.ImgContainer::-webkit-scrollbar {
  width: 0;
}

.ImgContainerFull {
  gap: 0px;
}

.ImgContainer > img {
  scroll-snap-align: end;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'PTSerif-Regular';
  font-weight: 500;
  font-size: 22px;
  max-width: 890px;
}

.price {
  font-size: 24px;
}

@media (max-width: 1440px) {
  .titleSpan {
    display: none;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 36px;
  }

  .titleProp {
    font-size: 24px;
  }

  .textBlock {
    font-size: 18px;
  }

  .price {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .containerCollection {
    padding: 0 0px !important;
  }

  .ImgContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .ImgContainer img {
    scroll-snap-align: center;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 42px;
  }

  .titleProp {
    font-size: 32px;
  }

  .BrActive {
    display: block;
  }

  .ImgContainer {
    height: 50vh;
  }
}
