.contactBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contactsText {
  font-family: 'CormorantUnicase-Medium';
  font-weight: 500;
  font-size: 36px;
}

.contacts {
  font-family: 'CormorantUnicase-Regular';
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.contact {
  font-size: 36px;
  border-width: 2px;
}

@media (max-width: 1024px) {
  .contactsText {
    font-size: 24px;
  }

  .contact {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .contactBlock {
    flex-direction: column;
  }

  .contactsText {
    font-size: 32px;
  }

  .contact {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .contactsText {
    font-size: 28px;
  }

  .contact {
    font-size: 20px;
  }
}
