.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  z-index: 10;
}

.brand {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 36px;
  left: 0px;
}

.mainNav {
  font-family: 'PoiretOne';
  font-weight: 400;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

/* style={{ position: 'sticky' }} */
